# build artifacts (in-source builds)
*.o
moc_*.cpp
moc_*.h
qrc_*.cpp
Makefile
.qmake.stash
harbour-sysmetrics
src/generated/
translations/*.qm
installroot/
RPMS/
upload/
frank-log/
*.local.md
*.local.sh
media/
*_tmp_no
documentation.list
translations/harbour-htdiag*.ts
